table {
    button.btn {
        width: 100%;
    }
    input.form-control {
        width: 100% !important;
    }
    tr td {
        width: 7%;
        text-align: right;
    }
}
table.admin_table {
    button.btn {
        width: auto;
    }
    td {
        text-align: left;
    }
}
table.storesales_table {
    .btn-success {
      background-color: #456f01;
      border-color: #456f01;
    }
    .btn-outline-success {
        color: #456f01;
        border-color: #456f01;
    }
    input {
        text-align: right;
    }
    th.align_right {
        text-align: right;
    }
}
table.resellers_table {
    th.align_right {
        text-align: right;
    }
}
input.form-control, input.form-control:focus {
    color: black;
}
.register_div, .userupdate_div {
    .store_div {
        width: 50%;
        float: right;
        padding-left: 10px;
    }
    .role_div {
        width: 50%;
        float: left;
        padding-right: 10px;
    }
}