table {
    button.btn {
        width: 100%;
    }
    input.form-control {
        width: 100% !important;
    }
    tr td {
        width: 7%;
    }
}
table.admin_table {
    button.btn {
        width: auto;
    }
}
table.storesales_table {
    .btn-success {
      background-color: #456f01;
      border-color: #456f01;
    }
    .btn-outline-success {
        color: #456f01;
        border-color: #456f01;
    }
}
input.form-control, input.form-control:focus {
    color: black;
}