td.w-20 {
    width: 7% !important;
}
table {
    button.btn {
        width: 100%;
    }
    input.form-control {
        width: 100% !important;
    }
    tr td {
        width: 7%;
        text-align: right;
    }
    td.bold {
        font-weight: bolder;
    }
}
table.admin_table {
    button.btn {
        width: auto;
    }
    td {
        text-align: left;
    }
}
table.storesales_table {
    .btn-success {
      background-color: #456f01;
      border-color: #456f01;
    }
    .btn-outline-success {
        color: #456f01;
        border-color: #456f01;
    }
    input {
        text-align: right;
    }
    th.align_right {
        text-align: right;
    }
}
table.resellers_table {
    th.align_right {
        text-align: right;
    }
}
@media print {
    .app-header.navbar {
        display: none;
    }
    .sales_chart{
        display: none;
    }
    table.resellers_table, table.storesales_table, table.campaigntable {
        button.btn-outline-primary, .btn-outline-success {
            opacity: 0.2;
        }
        button.btn-primary, .btn-success {
            color: black;
        }
        td button {
            padding: 0;
            border: none;
            margin: 0;
        }
    }
}
input.form-control, input.form-control:focus {
    color: black;
}
.register_div, .userupdate_div {
    .store_div {
        width: 50%;
        float: right;
        padding-left: 10px;
    }
    .role_div {
        width: 50%;
        float: left;
        padding-right: 10px;
    }
}
.compaignlist {
    .centered {
        text-align: center;
    }
    .modal-backdrop {
        z-index: 0;
    }
}
table.campaign_modal {
    td.left_td {
        width: 0.5%;
        white-space: nowrap;
    }
}
table.campaigntable{
    .input-group {
        justify-content: center;
    }
    .input-group-btn{
        width: 50%;
    }
} 
.sailandsoldtable{
    th p{
        padding: 0;
        margin: 0;
    }
    p.red {
        color: red;
    }
}