<div class="animated fadeIn compaignlist">
    <div class="col-lg-12">
            {{test | json}}
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> List of campaigns
          </div>
          <div class="card-block">
            <button type="button" class="btn btn-primary mb-1" data-toggle="modal" (click)="createCampaign(primaryModal)">
                Create a new campaign
            </button>
            
            <button class="btn btn-outline-warning print_btn" (click) = "printMap()"><i class="icon-printer"></i></button>
            
            
            <button class="btn btn-outline-danger print_btn" (click) = "toCSV()">To CSV</button>
              
            <table class="table table-bordered table-sm campaigntable">
              <tbody>
                <tr>
                    <td class="bold w-25">Name</td>
                    <td class="bold">SKU</td>
                    <td class="bold">Start date</td>
                    <td class="bold">End date</td>
                    <td class="bold">Total sold</td>
                    <td class="bold">Total sales</td>
                    <td class="bold text-center">Action</td>
                </tr>
                <tr *ngFor="let item of campaigns; let i = index">
                  <td>{{ item.name }}</td>
                  <td>{{ item.sku }}</td>
                  <td>{{ item.start_at | date:'d-MMM-y' }}</td>
                  <td>{{ item.end_at | date:'d-MMM-y' }}</td>
                  <td>{{ item.sold }}</td>
                  <td>{{ item.sales }}</td>
                  <td>
                    <div class="input-group">
                        <div class="input-group-btn" dropdown>
                          <button type="button" class="btn btn-primary" dropdownToggle>
                            <i class="icon-settings"></i>
                          </button>
                          <div class="dropdown-menu" *dropdownMenu>
                            <a class="dropdown-item" (click) = "updateCampaign(item, i, primaryModal)">Edit</a>
                            <a class="dropdown-item" (click) = "removeCampaign(i)">Remove</a>
                          </div>
                        </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Campaign details</h4>
                <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-sm campaign_modal" *ngIf="updatedCampaign">
                    <tbody>
                        <tr>
                            <td class="text-left left_td align-middle">Name</td>
                            <td class="text-left align-middle"><input class="w-100" type="text" [(ngModel)] = "updatedCampaign.name"/></td>
                        </tr>
                        <tr>
                            <td class="text-left left_td align-middle">SKU</td>
                            <td class="text-left align-middle"><input class="w-100" type="text" [(ngModel)] = "updatedCampaign.sku"/></td>
                        </tr>
                        <tr>
                            <td class="text-left left_td align-middle">Validity</td>
                            <td class="text-left align-middle">
                                <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue" 
                                [bsConfig]="{rangeInputFormat: 'DD-MMM-YYYY'}">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left left_td align-middle">Publish in stores</td>
                            <td class="text-left">
                                <div class="col-md-9">
                                    <div class="checkbox" *ngFor = "let option of storeoptions; let i = index">
                                        <label for="checkbox{{i}}">
                                            <input class="mr-3" id="checkbox{{i}}" type="checkbox" value="{{option.value}}"
                                            [(ngModel)]="option.checked">{{option.name}}
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveChange(primaryModal)">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 