<div class="animated fadeIn">
        <table class="table table-bordered table-responsive table-sm resellers_table">
            <thead>
              <tr>
                <th>Select group</th>
                <td *ngFor="let group of groups">
                  <button type="button" class="btn btn-outline-primary group_btn" (click)="groupChanged($event, group)">{{group.title}}</button>
                </td>
                <td>
                  <button class="btn btn-outline-warning print_btn" (click) = "printMap()"><i class="icon-printer"></i></button>
                </td>
                <td>
                  <button class="btn btn-outline-danger print_btn" (click) = "toCSV()">To CSV</button>
                </td>
              </tr>
              <tr>
                <th>Select year</th>
                <td *ngFor="let year of years">
                  <button type="button" class="btn btn-outline-primary year_btn" (click)="yearChanged($event, year)">{{year}}</button>
                </td>
              </tr>
              <tr>
                <th>Select month</th>
                <td *ngFor="let month of months">
                  <button type="button" class="btn btn-outline-primary month_btn" (click)="monthChanged($event, month)">{{month.title}}</button>
                </td>
                <th class="align_right">Year</th>
              </tr>
              <tr>
                <td colspan="14" [innerHtml]="message"></td> 
              </tr>
              <tr>
                <td class="bold">{{current_group_title}}</td>
                <td *ngFor="let month of months">
                  {{ getGroupSubTotal(month) | number : '1.0-0' }}
                </td>
                <td>{{ getGroupYearTotal() | number : '1.0-0' }}</td>
              </tr>
              <tr>
                <th><input class="form-control" placeholder="Search by name" (keyup)="searchname.next($event.target.value)"></th>
              </tr>
            </thead>
            <tbody *ngIf = "resellerSearchResult != null">
              <tr *ngFor="let record of resellerSearchResult" >
                <td class="bold" scope="row">{{ record.profile.customer_firstname + ' ' + record.profile.customer_lastname }} </td>
                <td *ngFor="let month of months">
                  {{ getSubTotal(month.no, record.subtotals) | number : '1.0-0'}}
                </td>
                <td>{{ record.yeartotal | number : '1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
    </div>
    