<div class="animated fadeIn">
    <h1>
        <button type="button" class="btn btn-success" (click) = "create()" [disabled]="current_user.role_id>1">Create</button>
    </h1>
    <table class="table admin_table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of userdata; let i = index">
            <td>{{i}}</td>
            <td>{{ user.display_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ getRoleTitle(user.role_id) }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click) = "update(user)"><i class="icon-pencil"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click) = "remove(user)"><i class="icon-close"></i></button>
            </td>
          </tr>
        </tbody>
      </table>      
</div>
